*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #be3144;
    --blue: #003049;
    --white: #f0f0f0;
    --gray: #303841;
}

html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
}

#header {
    background-color: var(--red);
    text-align: right;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0,0,0,0.85);
}

#header #navbar {
    padding: 1.5625rem 0;
}

#header #navbar a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 0.9375rem;
    padding: 1.5625rem 1.25rem;
    transition: .3s;
}

#header #navbar a:hover {
    background-color: var(--blue);
}

#welcome-section {
    background: linear-gradient(200deg, rgba(0,0,0,1) 0%, rgba(92,92,92,1) 85%);
    height: 100vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-title {
    font-size: 8rem;
    font-weight: 800;
    text-align: center;
}

#welcome-section #welcome-message {
    color: var(--red);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    font-style: italic;
}

/* PROJECTS SECTION */

#projects {
    display: grid;
    background-color: var(--blue);
    grid-template-columns: repeat(3, minmax(6.25rem, 1fr));
    grid-template-rows: auto repeat(2, minmax(6.25rem, 1fr)); 
    gap: 1.625rem;
    padding: 0 1.625rem;
    place-items: stretch center;
    text-align: center;
}

#projects #projects-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 4rem;
    padding: 10rem 0;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.project-card {
    max-width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.project-card:visited {
    color: inherit;
    text-decoration: none;
}

.project-preview {
    height: 100%;
}

.project-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .project-title {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    background-color: var(--gray);
}

.project-tile {
    font-size: 2rem;
    font-weight: 300;
}

.project-card .project-title::before {
    color: orangered;
    font-size: 4rem;
    content: "<";
    margin: 0 2px 0 12px;
    opacity: 0;
    transition: .5s ease;
}

.project-card:hover .project-title::before {
    transition: .5s ease;
    opacity: 1;    
}

.project-card .project-title::after {
    color: orangered;
    font-size: 4rem;
    content: "/>";
    opacity: 0;
    transition: .5s ease;
}

.project-card:hover .project-title::after {
    transition: .5s;
    opacity: 1;    
}

#button-show-all {
    display: grid;
    grid-column: 1 / -1;
    place-content: center;
}

#show-all {
    background-color: var(--gray);
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.25rem 3.5625rem;
    border-radius: 0.625rem;
    transition: .3s;
    margin: 10rem 0;
}

#show-all:hover {
    background-color: var(--red);
}

#contact {
    color: white;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    height: calc(96vh - 69px);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-introduction {
    text-align: center;
}

#contact-title {
    font-size: 6rem;
    font-weight: 800;
}

.title-description {
    font-style: italic;
    font-size: 2rem;
}

.contact-links {
    margin: 1.25rem 0;
}

.contact-links .fa {
    margin-right: 10px;
    font-size: 3.5rem;
}

.contact-links .contact-details {
    font-size: 3rem;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: transform 0.3s ease-in-out;
}

.contact-links .contact-details:hover i {
    transform: scale(1.2);
    color: var(--red);
    transition: transform 0.3s ease-in-out;
}

footer {
    color: white;
    background-color: var(--gray);
    border-top: 4px var(--red) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 2rem;
    flex-wrap: wrap;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .fa {
    margin: 0 .625rem;
}

@media only screen and (max-width: 878px) {
    .contact-links {
        display: grid;
        text-align: center;
    }

    .contact-links .contact-details {
        margin-top: 30px;
    }

    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 630px) {
    #projects {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 425px) {
    #header {
        padding: 0 5%;
    }

    #header #navbar .nav-links {
        font-size: 1.6rem;
        margin-left: 0;
        padding: 1.6625rem .5rem;
    }

    #welcome-title {
        text-align: center;
        font-size: 6rem;
    }

    #projects #projects-section-title {
        font-size: 3rem;
    }

    .project-card {
        max-width: 300px;
    }

    #contact-title {
        font-size: 4rem;
    }

    .contact-links .fa {
        margin-right: 0.3125rem;
        font-size: 1.6rem;
    }

    .contact-links a.contact-details {
        font-size: 1.6rem;
    }

    footer {
        padding: 0 1rem;
        font-size: 1.6rem;
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    #welcome-title {
        text-align: center;
        font-size: 5rem;
    }

    #welcome-section #welcome-message {
        font-size: 3rem;
    }
    
    #projects {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #projects #projects-section-title {
        font-size: 2.5rem;
    }

    .project-card {
        max-width: 300px;
    }

    #contact-title {
        font-size: 4rem;
    }

    .contact-links .fa {
        margin-right: 0.3125rem;
        font-size: 1.6rem;
    }

    .contact-links a.contact-details {
        font-size: 1.6rem;
    }

    footer {
        padding: 0 1rem;
        font-size: 1.6rem;
        text-align: center;
    }
}